services:
  # *** SERVER SIDE SERVICES ***
  backend-dev:
    build: 
      context: ./server
      target: dev
    ports:
      - '5008:5008'
    volumes:
      - /app/node_modules
      - ./server:/app
    env_file:
      - ./server/.env
  
  # *** CLIENT SIDE SERVICES ***
#  frontend-test:
#    build:
#      context: ./client
#      target: test
#    environment:
#      - NODE_ENV=test

  frontend-dev:
    build: 
      context: ./client
      target: dev
    ports:
      - '3000:3000'
    volumes:
      - /app/node_modules
      - ./client/src:/app/src
    env_file:
      - ./client/.env.local
    environment:
      - API_URL_SERVER=http://backend-dev:5008
    depends_on:
      - backend-dev
#      - frontend-test